/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall div.tag-1 + div#tag-2 {
  display: none;
}

div#tag-2 + div#tag-3.slick.wicked 
 {
  display: none;
}

.parent {
  display: none;
}